.chart-container {
    box-shadow: 9px 5px 30px grey;
    width: 95vw;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}

.chart-details {
    display: flex;
    justify-content: center;
    align-items: center;
}