.update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.update-gadget {
    height: 80vh;
    display: flex;
    width: 80vmax;
    border-radius: 15px;
    box-shadow: 5px 10px 15px gray;
}

.update-gadget .image {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.update-gadget .image img {
    height: 90%;
    width: 500px;
    border-radius: 10px;
}

.update-gadget .text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 28px;
}