.add-form {
    width: 500px;
    height: 670px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-shadow: 6px 6px 2px grey;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    z-index: 2;
    position: absolute;
    right: 22%;
}

.add-img img {
    height: 100vh;
}